<div class="container">

  <div class="row header sticky-top bg-light">
    <div class="col-12 align-self-center">
      <h1 class="text-center app-name">Recipe Seeker</h1>
    </div>
    <div class="col-12 text-right site-link">
      <a class="" href="{{url}}">Open in {{getSiteDomain()}}</a>
    </div>
  </div>

  <div
    *ngIf="(recipeSeekResult$ | async) && (recipeSeekResult$ | async).isLoading"
    class="row fill-window">
    <div class="col-12 align-self-center text-center">
      Loading...
    </div>
  </div>

  <div
    *ngIf="(recipeSeekResult$ | async) && (recipeSeekResult$ | async).isCancelled"
    class="row fill-window">
    <div class="col-12 align-self-center">
      <div class="text-center">
        Cancelled
      </div>
    </div>
  </div>

  <div
    *ngIf="(recipeSeekResult$ | async) && !(recipeSeekResult$ | async).isLoading && !(recipeSeekResult$ | async).isCancelled"
    class="row no-gutters">
    <div class="col-12">
      <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <app-candidates-combobox
          name="recipeName"
          placeholder="Please enter this recipe's name."
          [(ngModel)]="recipeName"
          [options]="(recipeSeekResult$ | async).data.names">
        </app-candidates-combobox>
      </div>

      <h3>Ingredients</h3>
      <div
        *ngFor="let ingredientSection of (recipeSeekResult$ | async).data.ingredientsSections; let i = index">
        <h4>Section {{(i + 10).toString(36).toUpperCase()}}</h4>
        <div class="form-group">
          <label for="sectionName">Section Name</label>
          <app-candidates-combobox
            name="sectionName"
            placeholder="Please enter this section's name, if you need it."
            [(ngModel)]="sectionName"
            [options]="ingredientSection.names">
          </app-candidates-combobox>
        </div>
        <div class="form-group">
          <label>Ingredients ({{ingredientSection.ingredients.length}})</label>
          <div *ngIf="ingredientSection.ingredients">
            <div
              class="row ingredient-row"
              *ngFor="let ingredient of ingredientSection.ingredients; let j = index;">
              <app-ingredient-candidates-combobox
                class="col-12"
                name="ingredient-{{i}}-{{j}}-"
                [(ngModel)]="recipe.ingredientsSections[i].ingredients[j]"
                [options]="ingredient.candidates"
                [original]="ingredient.input">
              </app-ingredient-candidates-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center row-btn">
        <span
          class="btn btn-primary btn-save"
          (click)="test()">
          Save
        </span>
      </div>
    </div>
  </div>

</div>
