<div class="container">

  <div class="row header sticky-top bg-light">
    <div class="col-12 align-self-center">
      <h1 class="text-center app-name">Recipe Seeker</h1>
    </div>
    <div class="col-12 text-right site-link">
      <a class="" href="{{url}}" target="_blank">Open in {{getRecipeSiteDomain()}}</a>
    </div>
  </div>

  <div
    *ngIf="(recipeSeekResult$ | async).isLoading"
    class="row fill-window">
    <div class="col-12 align-self-center text-center">
      Loading...
    </div>
  </div>

  <div
    *ngIf="(recipeSeekResult$ | async).isCancelled"
    class="row fill-window">
    <div class="col-12 align-self-center">
      <div class="text-center">
        Cancelled
      </div>
    </div>
  </div>

  <div
    *ngIf="!(recipeSeekResult$ | async).isLoading && !(recipeSeekResult$ | async).isCancelled && (recipeSeekResult$ | async).data"
    class="row no-gutters">
    <div class="col-12">
      <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <input
          id="recipeName"
          type="text"
          [(ngModel)]="recipe.name"
          class="form-control"
          placeholder="Please enter this recipe's name."/>
      </div>

      <div class="form-group">
        <label for="servings">Servings</label>
        <input
          id="servings"
          type="number"
          [(ngModel)]="recipe.servings"
          class="form-control"
          placeholder="Please enter number of servings of this recipe."/>
      </div>

      <h3>Dish</h3>
      <div class="form-group">
        <label for="recipeName">Dish Name</label>
        <app-recipe-seeker-dish-combobox
          name="recipeName"
          placeholder="Please enter this recipe's dish name."
          [(ngModel)]="recipe.dish"
          [options]="(recipeSeekResult$ | async).data.dish.candidates">
        </app-recipe-seeker-dish-combobox>
      </div>

      <h3>Ingredients</h3>
      <div
        *ngFor="let group of (ingredientCandidatesBySection$ | async ); let i = index">
        <h4>Section {{(i + 10).toString(36).toUpperCase()}}</h4>
        <div class="form-group">
          <label for="sectionName">Section Name</label>
          <app-recipe-seeker-ingredient-section-combobox
            name="sectionName"
            placeholder="Please enter this section's name, if you need it."
            [(ngModel)]="sections[i]"
            [options]="group.section.candidates">
          </app-recipe-seeker-ingredient-section-combobox>
        </div>
        <div class="form-group">
          <label>Ingredients ({{group.ingredients.length}})</label>
          <div *ngIf="group.ingredients">
            <div
              class="row ingredient-row"
              *ngFor="let ingredient of group.ingredients; let j = index;">
              <app-recipe-seeker-ingredient-combobox
                class="col-12"
                name="ingredient-{{i}}-{{j}}"
                [ngModel]="ingredientsBySection[i]?.ingredients[j]"
                (ngModelChange)="ingredientsBySection[i].ingredients[j] = $event"
                [options]="ingredient.candidates"
                [original]="ingredient.input">
              </app-recipe-seeker-ingredient-combobox>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center row-btn">
        <input
          ngbButton
          class="btn btn-primary btn-save"
          (click)="save()"
          [disabled]="(saveRecipe$ | async).isSaving"
          value="Save" />
      </div>
    </div>
  </div>

</div>
