@import '../../styles.scss';

.header {
  height: 80px;
}

.site-link {
  position: absolute;
  top: 46px;
  right: 10px;
}

.ingredient-row {
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn-save {
  cursor: pointer;
  width: 100%;
}

.row-btn {
  padding-top: 20px;
  padding-bottom: 40px;
}

@include media-breakpoint-up(md) {

  .btn-save {
    width: 300px;
  }
  
}
