@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.container-main {
  min-height: calc(100vh - 65px);
}

.notifications {
  z-index: 999999;
  padding-top: 20px;
  padding-bottom: 20px;
}
