@import 'bootstrap-custom';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins/breakpoints';

// override _grid.scss
.no-gutters {
  margin-right: -15px;
  margin-left: -15px;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// custom general style
.app-name {
  font-family: 'Palatino';
  font-weight: bold;
}

.fill-window {
  height: calc(100vh - 150px);
}

row-fluid {
  padding-right: 0;
  padding-left: 0;
}
