<h1>Dishes</h1>

<div *ngIf='(dishes$ | async).isLoading'>
  Loading...
</div>

<table *ngIf='(dishes$ | async).data' class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th># of Recipes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let dish of (dishes$ | async).data'>
      <td>{{dish.name}}</td>
      <td>{{dish.cuisine}}</td>
      <td><a [routerLink]="['/recipes']" [queryParams]="{dishId:dish.id}">{{dish.numberOfRecipes}}</a></td>
    </tr>
  </tbody>
</table>
