<h1>Dishes</h1>

<div
  *ngIf="(dishes$ | async).isLoading"
  class="row fill-window">
  <div class="col-12 align-self-center text-center">
    <img src="./assets/spinner.gif"/>
    <div>Loading...</div>
    <small>It might take a half minute if the database had been sleeping.</small>
  </div>
</div>

<div
  *ngIf="(dishes$ | async).data"
  class="row">
  <div
    *ngFor="let dish of (dishes$ | async).data"
    class="col-4">
    <div
      (click)="goToRecipesPage(dish.id)"
      class="card dish">
      <div class="card-header bg-secondary">
        {{dish.name}}
      </div>
      <div class="card-body">
        <ul>
          <li
            *ngFor="let recipe of dish.recipesSummary">
            {{recipe.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
