<div id="title" class="row">
  <div class="col-12 align-self-center">
    <div class="text-center">
      <h1 class="app-name">
        Recipe Seeker
      </h1>
    </div>
  </div>
</div>
<div id="sites" class="row">
  <div class="col-4">
    <div class="row justify-content-center">
      <svg class="site-icon" (click)="onIconClick(URL_BBCGoodFood)">
        <style>
          .yellow-green { fill: rgb(181, 238, 67) }
          .bbc-good-food-color { fill: #4d7f83 }
          .Rrrrr { font: 64px serif; }
        </style>
        <circle cx="50%" cy="50%" r="50%" class="bbc-good-food-color" />
        <text dx="50%" dy="55%" dominant-baseline="middle" text-anchor="middle" class="Rrrrr white">B</text>
      </svg>
    </div>
    <div class="row justify-content-center">
      <div class="site-label align-bottom">BBC good food</div>
    </div>
  </div>
  <div class="col-4">
    <div class="row justify-content-center align-items-end">
      <svg class="site-icon" (click)="onIconClick(URL_allrecipes)">
        <style>
          .allrecipes-color { fill: #ff7e1a }
          .Rrrrr { font: 64px serif; }
        </style>
        <circle cx="50%" cy="50%" r="50%" class="allrecipes-color" />
        <text dx="50%" dy="55%" dominant-baseline="middle" text-anchor="middle" class="Rrrrr white">a</text>
      </svg>
    </div>
    <div class="row justify-content-center">
      <div class="site-label">allrecipes</div>
    </div>
  </div>
  <div class="col-4">
    <div class="row justify-content-center align-items-end">
      <svg class="site-icon" (click)="onIconClick(URL_JamieOliver)">
        <style>
          .jamie-oliver-color { fill: #fef234 }
          .Rrrrr { font: 64px serif; }
        </style>
        <circle cx="50%" cy="50%" r="50%" class="jamie-oliver-color" />
        <text dx="50%" dy="55%" dominant-baseline="middle" text-anchor="middle" class="Rrrrr black">J</text>
      </svg>
    </div>
    <div class="row justify-content-center">
      <div class="site-label">Jamie Oliver</div>
    </div>
  </div>
  <div class="col-4">
    <div class="row justify-content-center align-items-end">
      <svg class="site-icon" (click)="onIconClick(URL_delish)">
        <style>
          .white { fill: rgb(255, 255, 255) }
          .delish { fill: #278090 }
          .Rrrrr { font: 64px serif; }
        </style>
        <circle cx="50%" cy="50%" r="50%" class="delish" />
        <text dx="50%" dy="55%" dominant-baseline="middle" text-anchor="middle" class="Rrrrr white">d</text>
      </svg>
    </div>
    <div class="row justify-content-center">
      <div class="site-label">delish</div>
    </div>
  </div>
</div>
<div id="form">
  <form [formGroup]="customSiteForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <div class="input-group-prepend">
        <label for="url" class="input-group-text">Recipe Page URL</label>
      </div>
      <input type="text" class="form-control" id="url" formControlName="url" placeholder="URL" area-describedby="urlHelp">
      <div class="input-group-append">
        <input type="submit" class="btn btn-info" value="Try">
      </div>
    </div>
    <small id="urlHelp" class="form-text text-muted">Enter URL to your favorite recipe webpage. Recipe Seeker does not support every recipe sites, but it may work as long as the recipe is written in English.</small>
  </form>
</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Do you have Recipe Seeker Bookmarklet?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ol>
      <li>Get <i>Recipe Seeker Bookmarklet</i></li>
        <p>
          Before going to the recipe site, please <span class="text-danger">install Recipe Seeker Bookmarklet</span> to your browser. Drag the button below and drop at bookmark bar of browser.
        </p>
        <p>
          <a [href]="getLauncherScript()" class="btn btn-warning">→ Recipe Seeker</a>
        </p>
      <li>Open Recipe Page on Browser</li>
        <p>
          Open a recipe website on browser, and <span class="text-danger">go to a recipe page</span>.
        </p>
      <li>Run <i>Recipe Seeker Bookmarklet</i></li>
      <p>
          <span class="text-danger">select the Recipe Seeker Bookmarklet</span> on the list of bookmarks on your browser. You'll see Recipe Seeker open and help you save the recipe. 👍
        </p>
    </ol>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button> -->
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Open click')">Go to Recipe Site</button>
  </div>
</ng-template>
